<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/main_layout">
<head>
<meta charset="UTF-8">
<title>Edit User</title>
</head>
<body>
	<div layout:fragment="content">
		
		<div class="row">
			<div class="col-md-6"><h1 class="h3 mb-2 text-gray-800 mb-4">Edit Products</h1></div>
			<div class="col-md-6 text-right"><a href="/products" class="btn btn-info"><i class="fas fa-chevron-left"></i> Back</a></div>
		</div>
		
		<form action="#" th:action="@{/editsaveproducts}" th:object="${products}"
			method="post">

			<input type="hidden" th:value="${id}" th:field="*{id}"
				class="form-control">

				<div class="form-group row text-center">
					<label for="Code" class="col-sm-2 col-form-label">
						Code</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="Code" th:field="*{code}">
					</div>
				</div>
	
				<div class="form-group row text-center">
					<label for="ProductName" class="col-sm-2 col-form-label">
						ProductName</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="productname" th:field="*{productsname}">
					</div>
				</div>
	
				<div class="form-group row text-center">
					<label for="Price" class="col-sm-2 col-form-label">Price</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="email" th:field="*{price}">
					</div>
				</div>
				<div class="text-center">
					<label for="status">Status			
						<select class="form-control col-sm-100 text-center" th:field="*{status}">
							<option value="">Select status</option>
							<option th:each="status: ${status}" th:value="${status}" th:text="${status}"></option>
						</select>
						<label for="Productscategory">Productscategory
						<select class="form-control col-sm-100 text-center" th:field="*{Productscategory}">
							<option value="">Select category</option>
							<option th:each="category: ${category}" th:value="${category}" th:text="${category}"></option>
						</select>
						<br>
						<label for="country" class="col-sm-100 col-form-label">&nbsp;</label>
						<input type="submit" value="Submit" class="btn btn-primary" />
					</label>
				</div>
		</form>
	</div>
</body>
</html>