<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/main_layout">
<head>
<meta charset="UTF-8">
<title>Customer</title>
</head>

<body>
	<div layout:fragment="content">
	<br>
		<div class="row">
			<div class="col-md-6"><h1 class="h3 mb-2 text-gray-800 mb-4">Customer</h1></div>
			<div class="col-md-6 text-right"><a href="/Addcustomer" class="btn btn-success"><i class="fas fa-plus"></i> Add Customer</a></div>
		</div>
		
		<div class="card shadow mb-2">
			<div class="card-body">
				<table class="table table-bordered"cellspacing="0">
					<thead>
						<tr class="bg-success text-light">
							<th>CusId</th>
							<th>Name</th>
							<th>Surname</th>
							<th>Status</th>
                            <th>Date Modified</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="customer: ${list}">
							<td th:text="${customer.id}"></td>
							<td th:text="${customer.name}"></td>
							<td th:text="${customer.surname}"></td>
							<!-- <td th:text="${Users.sex}==M ? Male:Female"></td> -->
							<td th:text="${customer.status}"></td>
							<td th:text="${#dates.format(customer.createdAt,'dd/MM/yyyy')}"></td>
							<td><a th:href="@{'/editcustomer/' + ${customer.id}}" class="btn btn-sm btn-warning">Edit</a></td>
							<td><a th:href="@{'/Deletecustomer/' + ${customer.id}}" class="btn btn-sm btn-danger" onclick="return confirm('Confirmed to delete this item ?')">Delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>